#main-container
  #date-panel
    %span Select Date
  #btn-search
    %span SEARCH
  #calendar
    %p.title SELECT MONTH
    %ul#month-picker
      %li.left
      %li JAN
      %li FEB
      %li MAR
      %li APR
      %li MAY
      %li.active JUN
      %li JUL
      %li AUG
      %li SEP
      %li OCT
      %li NOV
      %li DEC
      %li.right
