#main-container
  #date-panel
    %span Select Date
  #btn-search
    %span SEARCH

  #calendar
    %p.title SELECT MONTH

    %ul#month-picker
      %li.left
      - Date::ABBR_MONTHNAMES.compact.each_with_index do |abbrev, num|
        %li{class: ('active' if num + 1 == @current_date.month),
            data: { year: @current_date.year, month: num + 1 }}= abbrev
      %li.right


    .calendar-panel
      = render 'calendar', current_date: @current_date, current_days: @days
