// Change calendar panel
oldCalendarPanel = $('.calendar-panel');

newCalendarPanel = $("<div class='calendar-panel' style='display: none'></div>");
newCalendarPanel.append("<%= escape_javascript(render 'calendar', current_date: @current_date, current_days: @days) %>");
$('#calendar').append(newCalendarPanel);

newCalendarPanel.find('.random-progress').each(function(){
  $(this).radialProgress($(this).data('value'));
});

oldCalendarPanel.remove();
newCalendarPanel.show();

// Restrictions for calendar cells
$('.day-holder').each(function(){
  startDate =  $('#current-start-date').val();
  endDate = $('#current-end-date').val();

  if(endDate.length > 0 || (startDate.length > 0 && parseInt(startDate) >= $(this).data('day'))) {
    $(this).addClass('disabled')
  }

  if(parseInt(startDate) == $(this).data('day')) {
    $(this).closest('.day').addClass('start-day');

  } else if(parseInt(endDate) == $(this).data('day')) {
    $(this).closest('.day').addClass('end-day');
  }
});
